.container{
    width: 600px;
    height: 400px;
    background-color: black;
    display: grid;
    /* grid-template-rows: 50px 50px 50px;
    grid-template-columns: 200px 200px 200px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* row-gap: 30px;
    column-gap: 40px; */
    grid-gap: 40px 50px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    /* justify-items: start; */
    /* justify-items: end; */
    justify-items: centre;
    align-items: center;



}
.item{
    width: 100px;
    height:50px;
    background-color: green;
    border: 2px solid black;
    text-align: center;
}
.anime{
    width: 400px;
    height: 400px;
    background-color: red;
    text-align: center;
    animation: animation 2s ease-in 1s infinite  reverse;
    
}
@keyframes animation
{
    from
    {
        font-size: 40px;
        background-color: green;
        border-radius: 20%;
    }
    to{
        font-size: 100px;
        background-color: yellow;
        border-radius: 50px;
    }
}